<ion-header>
  <ion-toolbar>
    <ion-title>Fotografias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fundo">

  

<ion-row class="txt">
  <ion-col size="12">
      <h1>Ensaios Fotograficos</h1>
      <h2>Alguns ensaios feitos por mim</h2>
  </ion-col>
</ion-row>

<ion-row class="ensaio">
  <ion-col size="12">
    <a href="tabs/pg/ensaio1"> 
    <img src="../../../assets/imgApp/ensaio1.png"> 
    </a>
    <h2>#ensaio 1</h2>
  </ion-col> 
</ion-row>

<ion-row class="ensaio">
  <ion-col size="12">
    <a href="tabs/pg/ensaio2"> 
    <img src="../../../assets/imgApp/ensaio2.png">   
  </a>
    <h2>#ensaio 2</h2>
  </ion-col>
</ion-row>

<ion-row class="ensaio">
  <ion-col size="12">  
    <a href="tabs/pg/ensaio3"> 
    <img src="../../../assets/imgApp/ensaio3.png"> 
    </a>
    <h2>#ensaio 3</h2>
  </ion-col>
</ion-row>

</ion-content>
