@import url('https://fonts.googleapis.com/css2?family=Thasadith&display=swap');
/* font-family: 'Moon Dance', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
/* font-family: 'Comfortaa', cursive; */

.fundo {
    --background: rgb(0, 0, 0);   
}

ion-toolbar{
    --background: rgb(0, 0, 0);
    font-family: 'Comfortaa', cursive;
}

.txt {
    background: #f2f2f2;
    padding: 20% 0;
}

.txt h1 {
    color: black;
    font-size: 0.9em;
    margin-top: -15%;
    margin-left: 3%;
    font-weight: bolder;
    font-family: 'Moon Dance', cursive;
}

.txt h2 {
    color: black;
    font-size: 0.7em;
    margin-left: 3%;
    margin-top: -1%;
    font-family: 'Moon Dance', cursive;
}

.ensaio {
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
}

.ensaio h2 {
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 0.8em;
    position: relative;
    margin-top: -10%;
    margin-left: 5%;
    font-family: 'Moon Dance', cursive;
}

