<ion-content class="fundo">

  <ion-row>
    <ion-col class="logo" offset-xs="2" size="8" >
      <img src="../../../assets/imgApp/logoRs.png" alt="Logo">
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="login" size="8">
      <a href="tabs/pg/login"><ion-button expand="block" > Fazer Login </ion-button></a>
      <h2> Não tem uma conta? <a href="tabs/pg/cadastro"> Inscreva-se </a> </h2>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="social" size="12">
      <h2> Ou faça o login com 
        <img src="../../../assets/imgApp/face.png">
        <img src="../../../assets/imgApp/google.png">
        <img src="../../../assets/imgApp/apple.png"> 
      </h2>
    </ion-col>  
  </ion-row>

</ion-content>

