<ion-tabs class="cor">

  <ion-tab-bar slot="botao">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sobre">
      <ion-icon name="compass"></ion-icon>
      <ion-label>Descubra</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contato">
      <ion-icon name="mail-unread"></ion-icon>
      <ion-label>Contato</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="usuario">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Usuario</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
