<ion-header>
  <ion-toolbar>
    <ion-title> Ensaio 1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="descricao">
    <ion-col size="12">
      <h2> Modelo - Helem Lima </h2>
      <h2> Data - 30/03/2022 </h2>
      <h2> Local - Jardim Helena </h2>
    </ion-col>
  </ion-row>

  <ion-row class="ensaio">
    <ion-col size="12">
      <img src="../../../assets/imgApp/en1Img1.png">    
    </ion-col>
  </ion-row>

  <ion-row class="ensaio">
    <ion-col size="12">
      <img src="../../../assets/imgApp/en1Img2.png">    
    </ion-col>
  </ion-row>

  <ion-row class="ensaio">
    <ion-col size="12">
      <img src="../../../assets/imgApp/en1Img3.png">    
    </ion-col>
  </ion-row>

  <ion-row class="ensaio">
    <ion-col size="12">
      <img src="../../../assets/imgApp/en1Img4.png">    
    </ion-col>
  </ion-row>

  <ion-row class="ensaio">
    <ion-col size="12">
      <img src="../../../assets/imgApp/en1Img5.png">    
    </ion-col>
  </ion-row>

  <ion-row class="ensaio">
    <ion-col size="12">
      <img src="../../../assets/imgApp/en1Img6.png">    
    </ion-col>
  </ion-row>

</ion-content>
