<ion-header>
  <ion-toolbar>
    <ion-title> Ensaio 3 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="descrixao">
    <ion-col size="12">
      <h2> Modelo - Eduarda Souza </h2>
      <h2> Data - 27/12/2020 </h2>
      <h2> Local - Avaré </h2>
    </ion-col>
  </ion-row>

  <ion-row class="ensaio">
    <ion-col size="12">
      <img src="../../../assets/imgApp/en3Img1.png">    
    </ion-col>
  </ion-row>

  <ion-row class="ensaio">
    <ion-col size="12">
      <img src="../../../assets/imgApp/en3Img3.png">    
    </ion-col>
  </ion-row>

  <ion-row class="ensaio">
    <ion-col size="12">
      <img src="../../../assets/imgApp/en3Img4.png">    
    </ion-col>
  </ion-row>

  <ion-row class="ensaio">
    <ion-col size="12">
      <img src="../../../assets/imgApp/en3Img5.png">    
    </ion-col>
  </ion-row>

  <ion-row class="ensaio">
    <ion-col size="12">
      <img src="../../../assets/imgApp/en3Img6.png">    
    </ion-col>
  </ion-row>

</ion-content>
